@model WebStore.Web.ViewModels.Categories.SingleCategoryOutputModel
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
@Html.Raw(Model.SanitizedDescription)
<hr />
@if (this.Model.ChildCategories.Count > 0)
{
    <h3>Subcategories</h3>
    @await Html.PartialAsync($"../Shared/_CategoriesListPartial", this.Model.ChildCategories)
    <hr />
}
@await Html.PartialAsync($"../Shared/_ProductsPartial", this.Model.SinglePageProducts)