
@model WebStore.Web.ViewModels.ShoppingCart.ItemInCartListViewModel

<div class="modal fade" id="cartItems" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Products In Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <partial name="_ShoppingCartItemsPartial" model="Model" />
            </div>
            <div class="modal-footer">
                @if (Model != null && Model.Items.Count() > 0)
                {
                    <button type="button" class="btn btn-danger justify-content-start me-auto" onclick="clearCart()" aria-label="Close">Clear Cart</button>
                }

                <button type="button" class="btn btn-secondary text-uppercase " data-bs-dismiss="modal">Continue Shopping</button>
                <a href="/ShoppingCart/Checkout" class="btn btn-primary text-uppercase">Checkout</a>
            </div>
        </div>
    </div>
</div>
