@using WebStore.Web.ViewModels.Administration.Dealers
@model DetailsDealerViewModel

@{
    ViewData["Title"] = "Dealer " + Model.Contact.Email;
}

<div class="container-fluid px-4 ">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Orders Datatable
        </div>
        <div class="card-body">
            <partial name="_OrdersTablePartial" model='Model.DealersSales' />
        </div>
    </div>
</div>
