@model IEnumerable<WebStore.Web.ViewModels.Product.ListProductOutputModel>

@{
    ViewData["Title"] = "All Products";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
@await Html.PartialAsync($"../Shared/_ProductsPartial", this.Model) 

