@model WebStore.Web.ViewModels.ShoppingCart.ItemInCartViewModel

<div class="modal fade" id="addedItemToCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">You Just Added Item To Your Cart</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="@Model.ProductImageUrl" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Continue Shopping</button>
                <button type="button" class="btn btn-primary text-uppercase">Go to cart</button>
            </div>
        </div>
    </div>
</div>
