<div class="modal fade" id="staticModalForEmptyCart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Empty Cart</h5>
                <a href="/products/All" type="button" class="btn-close" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                Your cart is empty. You need to add products first.
            </div>
            <div class="modal-footer">
                <a href="/products/All" type="button" class="btn btn-primary">Understood</a>
            </div>
        </div>
    </div>
</div>
